<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{filmContent.info.title}} - Rancid Tomatoes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="icon" type="text/css" href="{{static_url('images/rotten.gif')}}">
    <link href="{{static_url('movie.css')}}" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="back">
        <img src="{{static_url('images/banner.png')}}" alt="Rancid Tomatoes" />
    </div>

    <h1>{{filmContent.info.title}} ({{filmContent.info.time}})</h1>
    <div id="body">
        <div class="all" id="right">
            <div>
                <img src="{{filepath}}/{{filmContent.generaloverviewPicture}}" alt="general overview" />
            </div>
            <dl>
                {% for theme, content in zip(filmContent.generaloverview.theme, filmContent.generaloverview.content)%}
                <dt>{{theme}}</dt>
                <dd>{{content}}</dd>
                {% end %}

                <dt>OFFICIAL MOVIE SITE</dt>
                <dd><a href="http://www.tmnt.com/">The Official TMNT Site</a>
                </dd>
            </dl>
        </div>
        <div class="all" id="left">
            <div id="left-top">
            {% if filmContent.info.reviewPer < 60 %}
                <img src="{{static_url('images/rottenbig.png')}}" alt="Rotten" />
            {% else %}
                <img src="{{static_url('images/freshbig.png')}}" alt="Rotten" />
            {% end %}
                <span id="vertical">
                    <span id="size">{{filmContent.info.reviewPer}}%</span>({{filmContent.info.reviewNum}} reviews total)</span>
            </div>
            <div class="float-left">
                {% for review in filmContent.reviewLeft %}
                <p class="border">
                    {% if review.reviewType == "ROTTEN" %}
                    <img src="{{static_url('images/rotten.gif')}}" alt="Rotten" />
                    {% else %}
                    <img src="{{static_url('images/fresh.gif')}}" alt="Rotten" />
                    {% end %}
                    <q>{{review.content}}</q>
                </p>
                <p class="critic">
                    <img src="{{static_url('images/critic.gif')}}" alt="Critic" />{{review.writer}}
                    <br />
                    <span class="fs">{{review.company}}</span>
                </p>
                {% end %}
                </div>

                <div class="float-right">

                    {% for review in filmContent.reviewRight %}
                    <p class="border">
                        {% if review.reviewType == "ROTTEN" %}
                        <img src="{{static_url('images/rotten.gif')}}" alt="Rotten" />
                        {% else %}
                        <img src="{{static_url('images/fresh.gif')}}" alt="Rotten" />
                        {% end %}
                        <q>{{review.content}}</q>
                    </p>

                    <p class="critic">
                        <img src="{{static_url('images/critic.gif')}}" alt="Critic" />{{review.writer}}
                        <br />
                        <span class="fs">{{review.company}}</span>
                    </p>
                    {% end %}

                </div>



            </div>
            <div class="last">
                <p>(1-8) of 88</p>
            </div>
        </div>
        <div class="fixed">
        <a href="http://validator.w3.org/check/referer" class="fixed">
            <img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/w3c-xhtml.png" alt="Valid XHTML 1.1" />
        </a>
        <br />
        <a href="http://jigsaw.w3.org/css-validator/check/referer" class="fixed">
            <img src="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/2/w3c-css.png" alt="Valid CSS!" />
        </a>
        </div>
</body>

</html>