<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Buy Your Way to a Better Education!</title>
		<link href="{{static_url('buyagrade.css')}}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		<h1>Thanks, sucker!</h1>

		<p>Your information has been recorded.</p>

		<dl>
			<dt>Name</dt>
			<dd>{{name}}</dd>

			<dt>Section</dt>
			<dd>{{selection}}</dd>
			<dt>Credit Card</dt>
			<dd>{{creditcardnumber}}({{creditCard}})</dd>
			<pre>Here are all the suckers we submit here:<br><br>{{content}}
			</pre>
		</dl>
	</body>
</html>  