<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Music Viewer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="http://www.cs.washington.edu/education/courses/cse190m/09sp/labs/3-music/viewer.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <div id="content">

    <div id="header">
      <h1>190M Music Playlist Viewer</h1>
      <h2>Search Through Your Playlists and Music</h2>
    </div>

    <div id="listarea">
      <ul id="musiclist">
        {% for file in files %}
          {% if file.filetype == 'mp3' %}
            <li class="mp3item">
              <a href="{{ static_url("songs") }}/{{file.name}}") }}">{{ file.name }}</a>
              <span>{{ file.size }}<span>
            </li>
          {% end %}
          {% if file.filetype == 'txt' %}
            <li class="playlistfile">
              <a href="?playlist={{ file.name }}">
                {{ file.name }}
              </a>
            </li>
          {% end %}
        {% end %}
      </ul>
    </div>
  </div>
</body>
</html>
