/*
CSE 190 M, Spring 2009, Marty Stepp
Homework 4: NerdLuv
Stylesheet for HTML forms / basic PHP program
You should modify this stylesheet as necessary to reproduce the expected page.
*/

/* provided styles */

* {
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
}

#mainBlock, #signInblock {
	background: #6699FF;
}

#mainBlock {
	float: left;
}

#signInblock {
    float: right;
}

#newUser, #oldUser {
	border: solid;
	width: 150px;
	border-width: 2px 2px 2px 2px;
	border-top-style: outset;
	border-left-style: outset;
	background: white;
	position: relative;
	left: 20px;
	bottom: 10px;
}

body {
	background-color: white;
	padding: 1em;
}

#bannerarea {
	margin-bottom: 2em;
}

div {
	margin-top: 0.5em;
}

.info {
	padding-left: 160px;
}

#main {
	overflow: hidden;
	width: 70em;
}



.match {
	margin-bottom: 3em;
}

.name {
	background-color: #E0E0FF;
	clear: left;
}

.name img {
	width: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 3em;
}

#seeking {
	margin-top: 2em;
}

#w3c {
	clear: both;
}

#w3c img {
	border-width: 0px;
}

#signup input, #signin input {
	background: #FF00FF;
	width: 100px;
	height: 40px;
	font-size: 120%;
	font-weight: bold;
}
#name, #gender, #age, #personality, #os, #seeking, #betweenAge, #signup, #nameForSignin {
	margin-left: 1em;
}
/* your additional styles go here */

