<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
	<title>SegmentFault</title>
    <link rel="stylesheet" href="{{static_url('css/index.css')}}">
    <link rel="shortcut icon" href="//static.segmentfault.com/global/img/favicon.30f7204d.ico">
</head>
<body>
	<div id="header">
		<nav class="container">
			<h1 class="logo">
				<a href="/">
					<img src="{{static_url('images/home-logo.svg')}}" alt="SegmentFault">				
				</a>
			</h1>
			<ul>
				{% if name1 == "" %}
				<li>
					{{name1}}
					<a href="/signup">注册</a>
				</li>
				<li>
					<a href="/login">直接登录</a>
				</li>
				{% else %}
				<li>
					<a href="/signup">{{name1}}</a>
				</li>
				<li>
					<a href="/logout">退出</a>
				</li>
				{% end %}
			</ul>
		</nav>
	</div>
	<div class="container" id="wrapper">
		<p class="main-title">
			{{name1}}
            今天，你在开发时遇到了什么问题呢？
            <a id="goAsk" href="/ask">我要提问</a>
        </p>
        {% for item in content1 %}
        <div id="question-list">
        	<section class="stream-list__item">
                <div class="qa-rank">
                	{%if int(item[0]) == 0%}
		            <div class="votes hidden-xs">
		            {%elif int(item[0]) > 0%}
		            <div class="votes hidden-xs plus">
		            {%else%}
		            <div class="votes hidden-xs minus">
		            {%end%}
		                {{item[0]}}
		                <br />
		                <small>投票</small>
		            </div>
		                {%if item[2] == "回答" and item[1] != "0" %}
		            	<div class="answers answered">
		            	{%elif item[2] == "回答" and item[1] == "0" %}
		            	<div class="answers">
		            	{%else%}
		            	<div class="answers answered solved">
		            	{%end%}
		            	{{item[1]}}
		                <br />
		                <small>{{item[2]}}</small>
		            </div>
		            <div class="views hidden-xs">
		                {{item[3]}}
		                <br />
		                <small>浏览</small>
		            </div>
		        </div>
		        <div class="summary">
		            <ul class="author list-inline">
		                <li>
		                    <a href="#">{{item[4]}}</a>
		                    <span class="split"></span>
		                    <a href="#">{{item[5]}}</a>
		                </li>
		            </ul>
		            <h2 class="title"><a href="#">{{item[6]}}</a></h2>
		            <ul class="taglist--inline ib"> 
		                <li class="tagPopup">
		                	<a class="tag tag-sm" href="#">{{item[7]}}
		                	</a>
		                </li>   
		            </ul>
		        </div>
		    </section>
        </div>
        {%end%}
	</div>
</body>
</html>