body {
    background-image: url("background.gif");
    margin-left: 10%;
    margin-right: 10%;
}
#green {
    border: 10px white solid;
    background: white;
    overflow: hidden;
}
#first {
    background-color: #A8F0F0;
    text-align: right;
}
.second {
    overflow: hidden;
    border: 4px #C2E9E9 solid;
    margin: 4px;
    background: #E8FBFB;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
#first h2 {
    font-size: 14pt;
    margin: 3px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
span {
    border-bottom: 2px #009097 dashed;
    padding-top: 15px;
    margin: 3px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.second img {
    float: right;
    margin: 4px;
}
#add {
    float: left;
    clear: left;
    width: 20%;
    border: 4px solid blue;
    background: purple;
    margin: 4px;
}
#third {
    float: right;
    width: 77.2%;
}
#fourth {
    clear: left;
}
body * * *:hover {
    color: yellow;
}